<header class="flex justify-center items-center drop-shadow-lg h-12 bg-gradient-to-r from-teal-200 to-lime-200">
  <h1 class="text-2xl text-blue-900 drop-shadow-md font-medium select-none">Dynamic Table</h1>
</header>